/*
LOOK AT CSS EXERCISES REPO FOR HELP
*/

/* grid-area: start row / start col / end row / end col */

* {
    margin: 0;
    padding: 0;
}

.grid-body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
} 

/* DASHBOARD PANEL */
.panel {
    background-color: aqua;
    grid-area: 1 / 1 / 3 / 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.panel-title {
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 50px;
}

.panel-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/* HEADER */
.header {
    background-color: antiquewhite;
    grid-area: 1 / 2 / 2 / 2;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 150px;
    padding: 10px;
}


.upper-header {
    grid-area: 1 / 1 / 1 / 6;
    display: grid;
    grid-template-columns: 4fr 1fr;  
    gap: 50px;
    width:auto;
}


.search-section {
    display: grid;
    grid-template-columns: 1fr 10fr;
    gap: 5px;
}

#search-icon img {
   height: 1.5rem;
}

#search-box {
    height: 1.5rem;
    border-radius: 20px;
    border: none;
}

#notification-bell img{
    height: 1.5rem;
}

.personal-section #profile-pic img {
    height: 2rem;
}

.personal-section #name {
    width: max-content;
    justify-self: end;
}

.personal-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.lower-header {
    grid-area: 2 / 1 / 2 / 6;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.greeting-block {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.greeting-block #profile-pic img {
    height: 3rem;
}

.buttons-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px
}

.buttons-block button {
    border-radius: 20px;
    height: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
}


/* BODY */
.body {
    background-color:darksalmon;
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.projects {
    display: flex;
    flex-direction: column;
}

.body-heading {
    grid-area: 1 / 1 / 1 / 1;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.announcements-section {
    display: grid;
}